
<div>
    <h2><span data-translate="medusaTattooApp.cita.detail.title">Cita</span> {{vm.cita.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span data-translate="medusaTattooApp.cita.fechaYHora">Fecha Y Hora</span></dt>
        <dd>
            <span>{{vm.cita.fechaYHora | date:'medium'}}</span>
        </dd>
        <dt><span data-translate="medusaTattooApp.cita.duracion">Duracion</span></dt>
        <dd>
            <span>{{vm.cita.duracion}}</span>
        </dd>
        <dt><span data-translate="medusaTattooApp.cita.trabajo">Trabajo</span></dt>
        <dd>
            <a ng-if="vm.cita.trabajo.foto" ng-click="vm.openFile(trabajo.fotoContentType, vm.cita.trabajo.foto)">
                <img data-ng-src="{{'data:' + vm.cita.trabajo.fotoContentType + ';base64,' + vm.cita.trabajo.foto}}" style="max-height: 500px;" alt="trabajo image"/>
            </a>
            <br>
            <a ui-sref="trabajo-detail({id:vm.cita.trabajo.id})">Ver trabajo</a>
        </dd>
    </dl>

    <button type="submit"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span data-translate="entity.action.back"> Back</span>
    </button>

    <button type="button" ui-sref="cita-detail.edit({id:vm.cita.id})" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-sm-down" data-translate="entity.action.edit"> Edit</span>
    </button>
</div>
