<div>
    <h2 data-translate="medusaTattooApp.foto.home.title">Fotos</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="foto.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span  data-translate="medusaTattooApp.foto.home.createLabel">
                        Create new Foto
                    </span>
                </button>
            </div>
			<div class="col-xs-8 no-padding-right">
                <form name="searchForm" class="form-inline">
                    <div class="input-group pull-right" >
                        <input type="text" class="form-control" ng-model="vm.currentSearch" placeholder="Buscar...">
                        <span  class="input-group-btn width-min" >
                            <button class="btn btn-info">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </span>
                        <span class="input-group-btn width-min" ng-if="vm.currentSearch">
                            <button class="btn btn-info" ng-click="vm.currentSearch=&quot;&quot;">
                                <span class="glyphicon glyphicon-trash"></span>
                            </button>
                        </span>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.reset()">
                    <th jh-sort-by="id"><span data-translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="descripcion"><span data-translate="medusaTattooApp.foto.descripcion">Descripcion</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="imagen"><span data-translate="medusaTattooApp.foto.imagen">Imagen</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="trabajo.id"><span data-translate="medusaTattooApp.foto.trabajo">Trabajo</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody infinite-scroll="vm.loadPage(vm.page + 1)" infinite-scroll-disabled="vm.page >= vm.links['last']">
                <tr ng-repeat="foto in vm.fotos|filter:vm.currentSearch track by foto.id">
                    <td><a ui-sref="foto-detail({id:foto.id})">{{foto.id}}</a></td>
                    <td>{{foto.descripcion}}</td>
                    <td>
                        <a ng-if="foto.imagen" ng-click="vm.openFile(foto.imagenContentType, foto.imagen)">
                            <img data-ng-src="{{'data:' + foto.imagenContentType + ';base64,' + foto.imagen}}" style="max-height: 30px;" alt="foto image"/>
                        </a>
                        <span ng-if="foto.imagen">{{foto.imagenContentType}}, {{vm.byteSize(foto.imagen)}}</span>
                    </td>
                    <td>
                        <a ui-sref="trabajo-detail({id:foto.trabajo.id})">{{foto.trabajo.id}}</a>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="foto-detail({id:foto.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="foto.edit({id:foto.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="foto.delete({id:foto.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
