<div>
    <h2 data-translate="medusaTattooApp.trabajo.home.title">Trabajos</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="trabajo.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span  data-translate="medusaTattooApp.trabajo.home.createLabel">
                        Create new Trabajo
                    </span>
                </button>
            </div>
			<div class="col-xs-8 no-padding-right">
                <form name="searchForm" class="form-inline">
                    <div class="input-group pull-right" >
                        <input type="text" class="form-control" ng-model="vm.currentSearch" placeholder="Buscar...">
                        <span  class="input-group-btn width-min" >
                            <button class="btn btn-info">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </span>
                        <span class="input-group-btn width-min" ng-if="vm.currentSearch">
                            <button class="btn btn-info" ng-click="vm.currentSearch=&quot;&quot;">
                                <span class="glyphicon glyphicon-trash"></span>
                            </button>
                        </span>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.reset()">
                    <th jh-sort-by="id"><span data-translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="costoTotal"><span data-translate="medusaTattooApp.trabajo.costoTotal">Costo Total</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="totalPagado"><span data-translate="medusaTattooApp.trabajo.totalPagado">Total Pagado</span> <span class="glyphicon glyphicon-sort"></span></th>
					<th jh-sort-by="porPagar"><span data-translate="medusaTattooApp.trabajo.porPagar">Por pagar</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="estado"><span data-translate="medusaTattooApp.trabajo.estado">Estado</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="tipo"><span data-translate="medusaTattooApp.trabajo.tipo">Tipo</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="foto"><span data-translate="medusaTattooApp.trabajo.foto">Foto</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="tatuador.apodo"><span data-translate="medusaTattooApp.trabajo.tatuador">Tatuador</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="cliente.documento"><span data-translate="medusaTattooApp.trabajo.cliente">Cliente</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="sede.nombre"><span data-translate="medusaTattooApp.trabajo.sede">Sede</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody infinite-scroll="vm.loadPage(vm.page + 1)" infinite-scroll-disabled="vm.page >= vm.links['last']">
                <tr ng-repeat="trabajo in vm.trabajos|filter:sedeFilter|filter:vm.currentSearch track by trabajo.id">
                    <td><a ui-sref="trabajo-detail({id:trabajo.id})">{{trabajo.id}}</a></td>
                    <td>{{trabajo.costoTotal | currency : "$" : 0}}</td>
                    <td>{{trabajo.totalPagado | currency : "$" : 0}}</td>
					<td>{{trabajo.costoTotal-trabajo.totalPagado | currency : "$" : 0}}</td>
                    <td data-translate="{{'medusaTattooApp.Estado_trabajo.' + trabajo.estado}}">{{trabajo.estado}}</td>
                    <td data-translate="{{'medusaTattooApp.Tipo_trabajo.' + trabajo.tipo}}">{{trabajo.tipo}}</td>
                    <td>
                        <a ng-if="trabajo.foto" ng-click="vm.openFile(trabajo.fotoContentType, trabajo.foto)">
                            <img data-ng-src="{{'data:' + trabajo.fotoContentType + ';base64,' + trabajo.foto}}" style="max-height: 30px;" alt="trabajo image"/>
                        </a>
                        <span ng-if="trabajo.foto">{{trabajo.fotoContentType}}, {{vm.byteSize(trabajo.foto)}}</span>
                    </td>
                    <td>
                        <a ui-sref="tatuador-detail({id:trabajo.tatuador.id})">{{trabajo.tatuador.apodo}}</a>
                    </td>
                    <td>
                        <a ui-sref="cliente-detail({id:trabajo.cliente.id})">{{trabajo.cliente.documento}}</a>
                    </td>
                    <td>
                        <a ui-sref="sede-detail({id:trabajo.sede.id})">{{trabajo.sede.nombre}}</a>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="trabajo-detail({id:trabajo.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="trabajo.edit({id:trabajo.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="trabajo.delete({id:trabajo.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
