<div>
    <h2 data-translate="medusaTattooApp.tatuador.home.title">Tatuadors</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="tatuador.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span  data-translate="medusaTattooApp.tatuador.home.createLabel">
                        Create new Tatuador
                    </span>
                </button>
            </div>
			<div class="col-xs-8 no-padding-right">
                <form name="searchForm" class="form-inline">
                    <div class="input-group pull-right" >
                        <input type="text" class="form-control" ng-model="vm.currentSearch" placeholder="Buscar...">
                        <span  class="input-group-btn width-min" >
                            <button class="btn btn-info">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </span>
                        <span class="input-group-btn width-min" ng-if="vm.currentSearch">
                            <button class="btn btn-info" ng-click="vm.currentSearch=&quot;&quot;">
                                <span class="glyphicon glyphicon-trash"></span>
                            </button>
                        </span>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.reset()">
                    <th jh-sort-by="id"><span data-translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="tipodocumento"><span data-translate="medusaTattooApp.tatuador.tipodocumento">Tipodocumento</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="documento"><span data-translate="medusaTattooApp.tatuador.documento">Documento</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="nombre"><span data-translate="medusaTattooApp.tatuador.nombre">Nombre</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="apellido"><span data-translate="medusaTattooApp.tatuador.apellido">Apellido</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="telefono"><span data-translate="medusaTattooApp.tatuador.telefono">Telefono</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="genero"><span data-translate="medusaTattooApp.tatuador.genero">Genero</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="apodo"><span data-translate="medusaTattooApp.tatuador.apodo">Apodo</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="foto"><span data-translate="medusaTattooApp.tatuador.foto">Foto</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="estado" has-authority="ROLE_ADMIN"><span data-translate="medusaTattooApp.tatuador.estado">Estado</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="sede.nombre" has-authority="ROLE_ADMIN"><span data-translate="medusaTattooApp.tatuador.sede">Sede</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody infinite-scroll="vm.loadPage(vm.page + 1)" infinite-scroll-disabled="vm.page >= vm.links['last']">
                <tr ng-repeat="tatuador in vm.tatuadors|filter:vm.currentSearch track by tatuador.id">
                    <td><a ui-sref="tatuador-detail({id:tatuador.id})">{{tatuador.id}}</a></td>
                    <td data-translate="{{'medusaTattooApp.Tipo_documento.' + tatuador.tipodocumento}}">{{tatuador.tipodocumento}}</td>
                    <td>{{tatuador.documento}}</td>
                    <td>{{tatuador.nombre}}</td>
                    <td>{{tatuador.apellido}}</td>
                    <td>{{tatuador.telefono}}</td>
                    <td data-translate="{{'medusaTattooApp.Genero.' + tatuador.genero}}">{{tatuador.genero}}</td>
                    <td>{{tatuador.apodo}}</td>
                    <td>
                        <a ng-if="tatuador.foto" ng-click="vm.openFile(tatuador.fotoContentType, tatuador.foto)">
                            <img data-ng-src="{{'data:' + tatuador.fotoContentType + ';base64,' + tatuador.foto}}" style="max-height: 90px;" alt="tatuador image"/>
                        </a>
                    </td>
                    <td has-authority="ROLE_ADMIN">{{tatuador.estado?"Activo":"Inactivo"}}</td>
                    <td has-authority="ROLE_ADMIN">
                        <a ui-sref="sede-detail({id:tatuador.sede.id})">{{tatuador.sede.nombre}}</a>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="tatuador-detail({id:tatuador.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="tatuador.edit({id:tatuador.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="tatuador.delete({id:tatuador.id})"
                                    class="btn btn-danger btn-sm"
                                    ng-if="tatuador.estado">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-sm-down" data-translate="medusaTattooApp.tatuador.desactivar"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
