
<div>
    <h2><span data-translate="medusaTattooApp.tatuador.detail.title">Tatuador</span> {{vm.tatuador.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span data-translate="medusaTattooApp.tatuador.tipodocumento">Tipodocumento</span></dt>
        <dd>
            <span data-translate="{{'medusaTattooApp.Tipo_documento.' + vm.tatuador.tipodocumento}}">{{vm.tatuador.tipodocumento}}</span>
        </dd>
        <dt><span data-translate="medusaTattooApp.tatuador.documento">Documento</span></dt>
        <dd>
            <span>{{vm.tatuador.documento}}</span>
        </dd>
        <dt><span data-translate="medusaTattooApp.tatuador.nombre">Nombre</span></dt>
        <dd>
            <span>{{vm.tatuador.nombre}}</span>
        </dd>
        <dt><span data-translate="medusaTattooApp.tatuador.apellido">Apellido</span></dt>
        <dd>
            <span>{{vm.tatuador.apellido}}</span>
        </dd>
        <dt><span data-translate="medusaTattooApp.tatuador.telefono">Telefono</span></dt>
        <dd>
            <span>{{vm.tatuador.telefono}}</span>
        </dd>
        <dt><span data-translate="medusaTattooApp.tatuador.genero">Genero</span></dt>
        <dd>
            <span data-translate="{{'medusaTattooApp.Genero.' + vm.tatuador.genero}}">{{vm.tatuador.genero}}</span>
        </dd>
        <dt><span data-translate="medusaTattooApp.tatuador.apodo">Apodo</span></dt>
        <dd>
            <span>{{vm.tatuador.apodo}}</span>
        </dd>
        <dt><span data-translate="medusaTattooApp.tatuador.foto">Foto</span></dt>
        <dd>
            <div ng-if="vm.tatuador.foto">
                <a ng-click="vm.openFile(vm.tatuador.fotoContentType, vm.tatuador.foto)">
                    <img data-ng-src="{{'data:' + vm.tatuador.fotoContentType + ';base64,' + vm.tatuador.foto}}" style="max-width: 100%;" alt="tatuador image"/>
                </a>
                {{vm.tatuador.fotoContentType}}, {{vm.byteSize(vm.tatuador.foto)}}
            </div>
        </dd>
        <dt><span data-translate="medusaTattooApp.tatuador.estado">Estado</span></dt>
        <dd>
            <span>{{vm.tatuador.estado?"activo":"inactivo"}}</span>
        </dd>
        <dt has-authority="ROLE_ADMIN"><span data-translate="medusaTattooApp.tatuador.sede">Sede</span></dt>
        <dd has-authority="ROLE_ADMIN">
            <a ui-sref="sede-detail({id:vm.tatuador.sede.id})">{{vm.tatuador.sede.nombre}}</a>
        </dd>
    </dl>

    <button type="submit"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span data-translate="entity.action.back"> Back</span>
    </button>

    <button type="button" ui-sref="tatuador-detail.edit({id:vm.tatuador.id})" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-sm-down" data-translate="entity.action.edit"> Edit</span>
    </button>
</div>
