
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myTatuadorLabel" data-translate="medusaTattooApp.tatuador.home.createOrEditLabel">Create or edit a Tatuador</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.tatuador.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.tatuador.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="medusaTattooApp.tatuador.tipodocumento" for="field_tipodocumento">Tipodocumento</label>
            <select class="form-control" name="tipodocumento" ng-model="vm.tatuador.tipodocumento" id="field_tipodocumento" required>
                <option value="CEDULA" data-translate="medusaTattooApp.Tipo_documento.CEDULA">CEDULA</option>
                <option value="CEDULA_EXTRANJERIA" data-translate="medusaTattooApp.Tipo_documento.CEDULA_EXTRANJERIA">CEDULA_EXTRANJERIA</option>
                <option value="TARJETA_IDENTIDAD" data-translate="medusaTattooApp.Tipo_documento.TARJETA_IDENTIDAD">TARJETA_IDENTIDAD</option>
            </select>
            <div ng-show="editForm.tipodocumento.$invalid">
                <p class="help-block"
                    ng-show="editForm.tipodocumento.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="medusaTattooApp.tatuador.documento" for="field_documento">Documento</label>
            <input type="text" class="form-control" name="documento" id="field_documento"
                    ng-model="vm.tatuador.documento"
                    required ng-minlength="8" ng-maxlength="10" ng-pattern="/^[1-9][0-9]*$/"/>
            <div ng-show="editForm.documento.$invalid">
                <p class="help-block"
                    ng-show="editForm.documento.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.documento.$error.minlength" data-translate="entity.validation.minlength" translate-value-min="8">
                    This field is required to be at least 8 characters.
                </p>
                <p class="help-block"
                    ng-show="editForm.documento.$error.maxlength" data-translate="entity.validation.maxlength" translate-value-max="10">
                    This field cannot be longer than 10 characters.
                </p>
                <p class="help-block"
                    ng-show="editForm.documento.$error.pattern" data-translate="entity.validation.pattern" translate-value-pattern="Documento">
                    This field should follow pattern for "Documento".
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="medusaTattooApp.tatuador.nombre" for="field_nombre">Nombre</label>
            <input type="text" class="form-control" name="nombre" id="field_nombre"
                    ng-model="vm.tatuador.nombre"
                    required/>
            <div ng-show="editForm.nombre.$invalid">
                <p class="help-block"
                    ng-show="editForm.nombre.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="medusaTattooApp.tatuador.apellido" for="field_apellido">Apellido</label>
            <input type="text" class="form-control" name="apellido" id="field_apellido"
                    ng-model="vm.tatuador.apellido"
                    required/>
            <div ng-show="editForm.apellido.$invalid">
                <p class="help-block"
                    ng-show="editForm.apellido.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="medusaTattooApp.tatuador.telefono" for="field_telefono">Telefono</label>
            <input type="text" class="form-control" name="telefono" id="field_telefono"
                    ng-model="vm.tatuador.telefono"
                    required ng-minlength="10" ng-maxlength="10" ng-pattern="/^[0-9]*$/"/>
            <div ng-show="editForm.telefono.$invalid">
                <p class="help-block"
                    ng-show="editForm.telefono.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.telefono.$error.minlength" data-translate="entity.validation.minlength" translate-value-min="10">
                    This field is required to be at least 10 characters.
                </p>
                <p class="help-block"
                    ng-show="editForm.telefono.$error.maxlength" data-translate="entity.validation.maxlength" translate-value-max="10">
                    This field cannot be longer than 10 characters.
                </p>
                <p class="help-block"
                    ng-show="editForm.telefono.$error.pattern" data-translate="entity.validation.pattern" translate-value-pattern="Telefono">
                    This field should follow pattern for "Telefono".
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="medusaTattooApp.tatuador.genero" for="field_genero">Genero</label>
            <select class="form-control" name="genero" ng-model="vm.tatuador.genero" id="field_genero" required>
                <option value="MASCULINO" data-translate="medusaTattooApp.Genero.MASCULINO">MASCULINO</option>
                <option value="FEMENINO" data-translate="medusaTattooApp.Genero.FEMENINO">FEMENINO</option>
            </select>
            <div ng-show="editForm.genero.$invalid">
                <p class="help-block"
                    ng-show="editForm.genero.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="medusaTattooApp.tatuador.apodo" for="field_apodo">Apodo</label>
            <input type="text" class="form-control" name="apodo" id="field_apodo"
                    ng-model="vm.tatuador.apodo"
                    required/>
            <div ng-show="editForm.apodo.$invalid">
                <p class="help-block"
                    ng-show="editForm.apodo.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group" ngf-drop ngf-change="vm.setFoto($file, vm.tatuador)" ngf-pattern="'image/*'">
            <label class="control-label" data-translate="medusaTattooApp.tatuador.foto" for="field_foto">Foto</label>
            <div>
                <img data-ng-src="{{'data:' + vm.tatuador.fotoContentType + ';base64,' + vm.tatuador.foto}}" style="max-height: 100px;" ng-if="vm.tatuador.foto" alt="tatuador image"/>
                <div ng-if="vm.tatuador.foto" class="help-block clearfix">
                    <span class="pull-left">{{vm.tatuador.fotoContentType}}, {{vm.byteSize(vm.tatuador.foto)}}</span>
                    <button type="button" ng-click="vm.tatuador.foto=null;vm.tatuador.fotoContentType=null;"
                            class="btn btn-default btn-xs pull-right">
                        <span class="glyphicon glyphicon-remove"></span>
                    </button>
                </div>
                <button type="button" ngf-select class="btn btn-default btn-block"
                        ngf-change="vm.setFoto($file, vm.tatuador)" accept="image/*" data-translate="entity.action.addimage">
                    Add image
                </button>
            </div>
            <input type="hidden" class="form-control" name="foto" id="field_foto"
                    ng-model="vm.tatuador.foto"
                    />
            <input type="hidden" class="form-control" name="fotoContentType" id="field_fotoContentType"
                    ng-model="vm.tatuador.fotoContentType" />
        </div>
        <div class="form-group" ng-if="vm.showEstado">
            <label class="control-label" data-translate="medusaTattooApp.tatuador.estado" for="field_estado">Estado</label>
                <input type="checkbox" name="estado" id="field_estado"
                          ng-model="vm.tatuador.estado"/>
        </div>

        <div class="form-group" ng-if="vm.isAdmin">
            <label data-translate="medusaTattooApp.tatuador.sede" for="field_sede">Sede</label>
            <select class="form-control" id="field_sede" name="sede" ng-model="vm.tatuador.sede" ng-options="sede as sede.nombre for sede in vm.sedes track by sede.id" required>
            </select>
        </div>
        <div ng-show="editForm.sede.$invalid">
            <p class="help-block"
                ng-show="editForm.sede.$error.required" data-translate="entity.validation.required">
                This field is required.
            </p>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
