<div>
    <h2 data-translate="medusaTattooApp.inscripcion.home.title">Inscripcions</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="inscripcion.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span  data-translate="medusaTattooApp.inscripcion.home.createLabel">
                        Create new Inscripcion
                    </span>
                </button>
            </div>
			<div class="col-xs-8 no-padding-right">
                <form name="searchForm" class="form-inline">
                    <div class="input-group pull-right" >
                        <input type="text" class="form-control" ng-model="vm.currentSearch" placeholder="Buscar...">
                        <span  class="input-group-btn width-min" >
                            <button class="btn btn-info">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </span>
                        <span class="input-group-btn width-min" ng-if="vm.currentSearch">
                            <button class="btn btn-info" ng-click="vm.currentSearch=&quot;&quot;">
                                <span class="glyphicon glyphicon-trash"></span>
                            </button>
                        </span>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.reset()">
                    <th jh-sort-by="id"><span data-translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="estado"><span data-translate="medusaTattooApp.inscripcion.estado">Estado</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="rayaton.fecha"><span data-translate="medusaTattooApp.inscripcion.rayaton">Rayaton</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="cliente.documento"><span data-translate="medusaTattooApp.inscripcion.cliente">Cliente</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody infinite-scroll="vm.loadPage(vm.page + 1)" infinite-scroll-disabled="vm.page >= vm.links['last']">
                <tr ng-repeat="inscripcion in vm.inscripcions|filter:vm.currentSearch track by inscripcion.id">
                    <td><a ui-sref="inscripcion-detail({id:inscripcion.id})">{{inscripcion.id}}</a></td>
                    <td data-translate="{{'medusaTattooApp.Estado_inscripcion.' + inscripcion.estado}}">{{inscripcion.estado}}</td>
                    <td>
                        <a ui-sref="rayaton-detail({id:inscripcion.rayaton.id})">{{inscripcion.rayaton.fecha}}</a>
                    </td>
                    <td>
                        <a ui-sref="cliente-detail({id:inscripcion.cliente.id})">{{inscripcion.cliente.documento}}</a>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="inscripcion-detail({id:inscripcion.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="inscripcion.edit({id:inscripcion.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="inscripcion.delete({id:inscripcion.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
