
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myInscripcionLabel" data-translate="medusaTattooApp.inscripcion.home.createOrEditLabel">Create or edit a Inscripcion</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.inscripcion.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.inscripcion.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="medusaTattooApp.inscripcion.nombre" for="field_nombre">Nombre</label>
            <input type="text" class="form-control" name="nombre" id="field_nombre"
                    ng-model="vm.inscripcion.nombre"
                    required/>
            <div ng-show="editForm.nombre.$invalid">
                <p class="help-block"
                    ng-show="editForm.nombre.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="medusaTattooApp.inscripcion.telefono" for="field_telefono">Telefono</label>
            <input type="text" class="form-control" name="telefono" id="field_telefono"
                    ng-model="vm.inscripcion.telefono"
                    required ng-minlength="10" ng-maxlength="10" ng-pattern="/^[0-9]*$/"/>
            <div ng-show="editForm.telefono.$invalid">
                <p class="help-block"
                    ng-show="editForm.telefono.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.telefono.$error.minlength" data-translate="entity.validation.minlength" translate-value-min="10">
                    This field is required to be at least 10 characters.
                </p>
                <p class="help-block"
                    ng-show="editForm.telefono.$error.maxlength" data-translate="entity.validation.maxlength" translate-value-max="10">
                    This field cannot be longer than 10 characters.
                </p>
                <p class="help-block"
                    ng-show="editForm.telefono.$error.pattern" data-translate="entity.validation.pattern" translate-value-pattern="Telefono">
                    This field should follow pattern for "Telefono".
                </p>
            </div>
        </div>
        <div class="form-group" ngf-drop ngf-change="vm.setImagen($file, vm.inscripcion)" ngf-pattern="'image/*'">
            <label class="control-label" data-translate="medusaTattooApp.inscripcion.imagen" for="field_imagen">Imagen</label>
            <div>
                <img data-ng-src="{{'data:' + vm.inscripcion.imagenContentType + ';base64,' + vm.inscripcion.imagen}}" style="max-height: 100px;" ng-if="vm.inscripcion.imagen" alt="inscripcion image"/>
                <div ng-if="vm.inscripcion.imagen" class="help-block clearfix">
                    <span class="pull-left">{{vm.inscripcion.imagenContentType}}, {{vm.byteSize(vm.inscripcion.imagen)}}</span>
                    <button type="button" ng-click="vm.inscripcion.imagen=null;vm.inscripcion.imagenContentType=null;"
                            class="btn btn-default btn-xs pull-right">
                        <span class="glyphicon glyphicon-remove"></span>
                    </button>
                </div>
                <button type="button" ngf-select class="btn btn-default btn-block"
                        ngf-change="vm.setImagen($file, vm.inscripcion)" accept="image/*" data-translate="entity.action.addimage">
                    Add image
                </button>
            </div>
            <input type="hidden" class="form-control" name="imagen" id="field_imagen"
                    ng-model="vm.inscripcion.imagen"
                    required/>
            <input type="hidden" class="form-control" name="imagenContentType" id="field_imagenContentType"
                    ng-model="vm.inscripcion.imagenContentType" />
            <div ng-show="editForm.imagen.$invalid">
                <p class="help-block"
                    ng-show="editForm.imagen.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="medusaTattooApp.inscripcion.estado" for="field_estado">Estado</label>
            <select class="form-control" name="estado" ng-model="vm.inscripcion.estado" id="field_estado" required>
                <option value="PRE_INSCRITO" data-translate="medusaTattooApp.Estado_inscripcion.PRE_INSCRITO">PRE_INSCRITO</option>
                <option value="INSCRITO" data-translate="medusaTattooApp.Estado_inscripcion.INSCRITO">INSCRITO</option>
            </select>
            <div ng-show="editForm.estado.$invalid">
                <p class="help-block"
                    ng-show="editForm.estado.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>

        <div class="form-group">
            <label data-translate="medusaTattooApp.inscripcion.rayaton" for="field_rayaton">Rayaton</label>
            <select class="form-control" id="field_rayaton" name="rayaton" ng-model="vm.inscripcion.rayaton" ng-options="rayaton as rayaton.fecha for rayaton in vm.rayatons track by rayaton.id">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label data-translate="medusaTattooApp.inscripcion.sede" for="field_sede">Sede</label>
            <select class="form-control" id="field_sede" name="sede" ng-model="vm.inscripcion.sede" ng-options="sede as sede.nombre for sede in vm.sedes track by sede.id">
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
