<div>
    <h2 data-translate="medusaTattooApp.cliente.home.title">Clientes</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="cliente.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span  data-translate="medusaTattooApp.cliente.home.createLabel">
                        Create new Cliente
                    </span>
                </button>
            </div>
			<div class="col-xs-8 no-padding-right">
                <form name="searchForm" class="form-inline">
                    <div class="input-group pull-right" >
                        <input type="text" class="form-control" ng-model="vm.currentSearch" placeholder="Buscar...">
                        <span  class="input-group-btn width-min" >
                            <button class="btn btn-info">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </span>
                        <span class="input-group-btn width-min" ng-if="vm.currentSearch">
                            <button class="btn btn-info" ng-click="vm.currentSearch=&quot;&quot;">
                                <span class="glyphicon glyphicon-trash"></span>
                            </button>
                        </span>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.reset()">
                    <th jh-sort-by="id"><span data-translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="tipodocumento"><span data-translate="medusaTattooApp.cliente.tipodocumento">Tipodocumento</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="documento"><span data-translate="medusaTattooApp.cliente.documento">Documento</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="nombre"><span data-translate="medusaTattooApp.cliente.nombre">Nombre</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="apellido"><span data-translate="medusaTattooApp.cliente.apellido">Apellido</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="telefono"><span data-translate="medusaTattooApp.cliente.telefono">Telefono</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="genero"><span data-translate="medusaTattooApp.cliente.genero">Genero</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="email"><span data-translate="medusaTattooApp.cliente.email">Email</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody infinite-scroll="vm.loadPage(vm.page + 1)" infinite-scroll-disabled="vm.page >= vm.links['last']">
                <tr ng-repeat="cliente in vm.clientes|filter:vm.currentSearch track by cliente.id">
                    <td><a ui-sref="cliente-detail({id:cliente.id})">{{cliente.id}}</a></td>
                    <td data-translate="{{'medusaTattooApp.Tipo_documento.' + cliente.tipodocumento}}">{{cliente.tipodocumento}}</td>
                    <td>{{cliente.documento}}</td>
                    <td>{{cliente.nombre}}</td>
                    <td>{{cliente.apellido}}</td>
                    <td>{{cliente.telefono}}</td>
                    <td data-translate="{{'medusaTattooApp.Genero.' + cliente.genero}}">{{cliente.genero}}</td>
                    <td>{{cliente.email}}</td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="cliente-detail({id:cliente.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="cliente.edit({id:cliente.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.edit"></span>
                            </button>
                            <!--button type="submit"
                                    ui-sref="cliente.delete({id:cliente.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.delete"></span>
                            </button-->
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
