<div>
    <h2 data-translate="medusaTattooApp.rayaton.home.title">Rayatons</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="rayaton.new" ng-disabled="vm.hasRayatons">
                    <span class="glyphicon glyphicon-plus"></span>
                    <span  data-translate="medusaTattooApp.rayaton.home.createLabel">
                        Create new Rayaton
                    </span>
                </button>
            </div>
			<div class="col-xs-8 no-padding-right">
                <form name="searchForm" class="form-inline">
                    <div class="input-group pull-right" >
                        <input type="text" class="form-control" ng-model="vm.currentSearch" placeholder="Buscar...">
                        <span  class="input-group-btn width-min" >
                            <button class="btn btn-info">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </span>
                        <span class="input-group-btn width-min" ng-if="vm.currentSearch">
                            <button class="btn btn-info" ng-click="vm.currentSearch=&quot;&quot;">
                                <span class="glyphicon glyphicon-trash"></span>
                            </button>
                        </span>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.reset()">
                    <th jh-sort-by="id"><span data-translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="fecha"><span data-translate="medusaTattooApp.rayaton.fecha">Fecha</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="cupos"><span data-translate="medusaTattooApp.rayaton.cupos">Cupos</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="valorCupo"><span data-translate="medusaTattooApp.rayaton.valorCupo">Valor Cupo</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="comentario"><span data-translate="medusaTattooApp.rayaton.comentario">Comentario</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="imagen"><span data-translate="medusaTattooApp.rayaton.imagen">Imagen</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody infinite-scroll="vm.loadPage(vm.page + 1)" infinite-scroll-disabled="vm.page >= vm.links['last']">
                <tr ng-repeat="rayaton in vm.rayatons|filter:vm.currentSearch track by rayaton.id">
                    <td><a ui-sref="rayaton-detail({id:rayaton.id})">{{rayaton.id}}</a></td>
                        <td>{{rayaton.fecha | date:'mediumDate'}}</td>
                    <td>{{rayaton.cupos}}</td>
                    <td>{{rayaton.valorCupo | currency : "$":0}}</td>
                    <td>{{rayaton.comentario}}</td>
                    <td>
                        <a ng-if="rayaton.imagen" ng-click="vm.openFile(rayaton.imagenContentType, rayaton.imagen)">
                            <img data-ng-src="{{'data:' + rayaton.imagenContentType + ';base64,' + rayaton.imagen}}" style="max-height: 90px;" alt="rayaton image"/>
                        </a>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="rayaton-detail({id:rayaton.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="rayaton.edit({id:rayaton.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.edit"></span>
                            </button>
                            <!--button type="submit"
                                    ui-sref="rayaton.delete({id:rayaton.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.delete"></span>
                            </button-->
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
