<div>
    <h2 data-translate="medusaTattooApp.sede.home.title">Sedes</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="sede.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span  data-translate="medusaTattooApp.sede.home.createLabel">
                        Create new Sede
                    </span>
                </button>
            </div>
			<div class="col-xs-8 no-padding-right">
                <form name="searchForm" class="form-inline">
                    <div class="input-group pull-right" >
                        <input type="text" class="form-control" ng-model="vm.currentSearch" placeholder="Buscar...">
                        <span  class="input-group-btn width-min" >
                            <button class="btn btn-info">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </span>
                        <span class="input-group-btn width-min" ng-if="vm.currentSearch">
                            <button class="btn btn-info" ng-click="vm.currentSearch=&quot;&quot;">
                                <span class="glyphicon glyphicon-trash"></span>
                            </button>
                        </span>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.reset()">
                    <th jh-sort-by="id"><span data-translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="nombre"><span data-translate="medusaTattooApp.sede.nombre">Nombre</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="direccion"><span data-translate="medusaTattooApp.sede.direccion">Direccion</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="telefono"><span data-translate="medusaTattooApp.sede.telefono">Telefono</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="estado"><span data-translate="medusaTattooApp.sede.estado">Estado</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody infinite-scroll="vm.loadPage(vm.page + 1)" infinite-scroll-disabled="vm.page >= vm.links['last']">
                <tr ng-repeat="sede in vm.sedes|filter:vm.currentSearch track by sede.id">
                    <td><a ui-sref="sede-detail({id:sede.id})">{{sede.id}}</a></td>
                    <td>{{sede.nombre}}</td>
                    <td>{{sede.direccion}}</td>
                    <td>{{sede.telefono}}</td>
                    <td>{{sede.estado?"Abierto":"Cerrado"}}</td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="sede-detail({id:sede.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="sede.edit({id:sede.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="sede.delete({id:sede.id})"
                                    class="btn btn-danger btn-sm"
                                    ng-if="sede.estado && vm.account.sede.id!=sede.id">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-sm-down" data-translate="medusaTattooApp.sede.close.action"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
