
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myPagoLabel" data-translate="medusaTattooApp.pago.home.createOrEditLabel">Create or edit a Pago</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.pago.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.pago.id" readonly />
        </div>
        <!--div class="form-group">
            <label class="control-label" data-translate="medusaTattooApp.pago.fecha" for="field_fecha">Fecha</label>
                <div class="input-group">
                    <input id="field_fecha" type="text" class="form-control" name="fecha" datetime-picker="{{dateformat}}" ng-model="vm.pago.fecha" is-open="vm.datePickerOpenStatus.fecha"
                    required/>
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('fecha')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
            <div ng-show="editForm.fecha.$invalid">
                <p class="help-block"
                    ng-show="editForm.fecha.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.fecha.$error.ZonedDateTimelocal" data-translate="entity.validation.ZonedDateTimelocal">
                    This field should be a date and time.
                </p>
            </div>
        </div-->
        <!--div class="form-group">
            <label data-translate="medusaTattooApp.pago.trabajo" for="field_trabajo">Trabajo</label>
            <select ng-change="setMaxValue()" class="form-control" id="field_trabajo" name="trabajo" ng-model="vm.pago.trabajo" ng-options="trabajo as trabajo.id for trabajo in vm.trabajos|filter:sedeFilter track by trabajo.id" required>
            </select>
        </div>
        <div ng-show="editForm.trabajo.$invalid">
            <p class="help-block"
               ng-show="editForm.trabajo.$error.required" data-translate="entity.validation.required">
                This field is required.
            </p>
        </div-->

        <div class="form-group">
            <label data-translate="medusaTattooApp.pago.trabajo" for="field_trabajo">Cliente</label>
            <ui-select  ng-change="setMaxValue()" ng-model="vm.pago.trabajo" theme="bootstrap" id="field_trabajo">
                <ui-select-match placeholder="Busque y elija un trabajo de la lista">{{$select.selected.nombre}}</ui-select-match>
                <ui-select-choices repeat="trabajo in vm.trabajos | filter: $select.search">
                    <span ng-bind-html="trabajo.id + ' - ' + trabajo.nombre| highlight: $select.search"></span>
                </ui-select-choices>
            </ui-select>
            <div ng-show="editForm.trabajo.$invalid">
                <p class="help-block"
                   ng-show="editForm.trabajo.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="medusaTattooApp.pago.valor" for="field_valor">Valor</label>
            <input type="number" class="form-control" name="valor" id="field_valor"
                    ng-model="vm.pago.valor"
                    required min="1000" max={{vm.maxValue}}/>
            <div ng-show="editForm.valor.$invalid">
                <p class="help-block"
                    ng-show="editForm.valor.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.valor.$error.min" data-translate="entity.validation.min" translate-value-min="1000">
                    This field should be at least {{1000 | currency : "$":0}}.
                </p>
                <p class="help-block"
                    ng-show="editForm.valor.$error.max" data-translate="entity.validation.max" translate-value-max={{vm.maxValue}}>
                    This field cannot be more than {{vm.maxValue | currency : "$":0}}.
                </p>
                <p class="help-block"
                    ng-show="editForm.valor.$error.number" data-translate="entity.validation.number">
                    This field should be a number.
                </p>
            </div>
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
